{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - My Website</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'writing' %}">Writing</a>
    </nav>
    <h1>{{ message }}</h1>

    <p>Welcome back, {{ user }}!</p>

    <main>
        <p id="outputText">{{prompt}}</p>
        <button id="fetchButton">Get a new prompt</button>
        <button id="notebookButton">Go to notebook</button>
    </main>
    <script src="{% static 'js/getPrompt.js' %}"></script>
</body>
</html>