{% extends 'base.html' %}
{% load static %}

{% block content%}
<main>
    <div class="content-block">
        <div class="prompt-area">
            <div class="prompt-text">
                <h2 id="outputText">{{prompt}}</h2>
            </div>
            <div class="prompt-buttons">
                <button class='primary_button' id="notebookButton">Go to notebook</button>
                <button class='secondary_button' id="fetchButton">Get a new prompt</button>
            </div>
        </div>
    </div>
</main>
<script src="{% static 'js/getPrompt.js' %}"></script>

{% endblock %}