{% extends 'base.html' %}
{% load static %}


{% block content %}
<main>
    <div class="promptAreaNotepad">
        <div class="prompt-text">
            <h3 id="outputText"></h3>
        </div>
        <div class="notepadPromptButton">
            <button class='secondary_button' id="fetchButton">Get a new prompt</button>
        </div>
    </div>
    <br><br>
    <div id="notepad-container">
        <textarea id="notepad" placeholder="Start writing here..."></textarea>
    </div>
</main>
<script src="{% static 'js/getPrompt.js' %}"></script>
{% endblock %}