button {
    border: 0;
    border-radius: 25px;
    padding: 15px 30px;
    transition: all 0.3s ease;
    gap: var(--spacing-md);
    margin: var(--spacing-xs) var(--spacing-sm);
    font-size: 1.2rem;
    font-weight: bold;
    min-width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transform: translateY(100);
    font-family: var(--font-primary) !important;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    animation: fadeIn 0.5s ease-out;
}

button:active {
    transform: translateY(1px);
}

.primary-button {
    background-color: var(--primary-color);
    color: var(--highlight-color);
}

.primary_button:hover {
    background-color: var(--secondary-color);
    color: var(--base-color);
}

.secondary-button {
    background-color: var(--base-color);
    color: var(--highlight-color);
    border: 2px solid var(--primary-color);
}

.secondary_button:hover {
    background-color: var(--secondary-color);
    color: var(--base-color);
}