{% extends 'base.html' %}
{% load static %}


{% block content %}
<main>
    <div class="prompt-area-notepad">
        <div class="prompt-text">
            <h3 id="output-text"></h3>
        </div>
        <div class="notepad-prompt-button">
            <button class='secondary-button' data-api-url="{% url 'single_prompt' %}" id="fetchButton"  >Get a new prompt</button>
        </div>
    </div>
    <br><br>
    <div id="notepad-container">
        <textarea id="notepad" placeholder="Start writing here..."></textarea>
    </div>
</main>
<script src="{% static 'js/getPrompt.js' %}"></script>
{% endblock %}